.search-bar-main {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    width: 100%;
    height: 2.5rem;
    border-radius: 4px;
    background-color: white;
    padding-inline: 8px;
}

.search-bar-input {
    outline: none;
    border: none;
    width: 100%;
    font-weight: 500;
    color: rgb(66, 66, 66);
    text-decoration: none;
}

.search-bar-input::placeholder {
    color: rgb(96, 95, 95);
    font-weight: 400;
}